.custom-box-shadow {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .custom-box-shadow:hover {
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

    transform: scale(1.05);
  }
  